{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">
    {{ if eq .Section "post" }}
    <span class="article-duration">{{ .ReadingTime }} min read</span>
    {{ end }}

    <h1 class="article-title">{{ .Title }}</h1>

    {{ if eq .Section "post" }}
    <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    <br>
    {{ range .Params.tags }}
    <a class="tags" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
    {{ end }}

    <div class="article-content">
      {{ if .Params.toc }}
      {{ .TableOfContents }}
      {{ end }}
      {{ .Content }}
    </div>
  </article>

  {{ partial "disqus.html" .}}

</main>
{{ if eq .Section "post" }}
<script src="https://utteranc.es/client.js"
        repo="billbillbilly/website"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{{ end }}

{{ partial "footer.html" . }}
